body{

margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh; /* Altura igual à altura da viewport */
background-image: url(./assets/background.png);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

.fim {
text-align: center;
}

.fim2 {
text-align: center;}

h1{
    color: wheat;
}